// Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Fontawesome
@import "@fortawesome/fontawesome-free/css/all.css";

html,
body {
    height: 100%;
}
body {
    font-family: $font-family;
    font-weight: 400;
    background-image: url("../../public/storage/images/background/greenweathericon.jpeg");
    background-repeat: repeat;
}
main {
    display: block;
}

// Auth
.form-auth {
    max-width: 30rem;
}
.form-auth-bg {
    padding: 4rem;
    background-color: #f8f9fa;
    border-radius: 20px;
}

// Navbar
.nt-text {
    font-size: 22px;
}
.ni-text {
    font-size: 18px;
}
.col-lg-3 {
    flex: auto;
}

// password visual validation
.valid {
    color: green;
}
.valid::before {
    font-family: "FontAwesome";
    content: "\f00c";
    margin-right: 1rem;
}
.invalid {
    color: red;
}
.invalid::before {
    font-family: "FontAwesome";
    content: "\f00d";
    margin-right: 1rem;
}
